################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Extentions/Refit.Extention/obj
/Extentions/Refit.Extention/bin/Debug/netstandard2.0
/.vs
/Extentions/.vs/Extentions/v16
/src/Extentions/.vs/Extentions/v16/Server/sqlite3
/src/Extentions/Refit.Extention/obj
/src/Extentions/RabbitMQ.Extention/obj
/src/Extentions/RabbitMQ.Extention/bin
/src/Extentions/Redis.Extention/obj/Release/netstandard2.0
